

<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="home.component.css">
</head>
<body>
    <div class="homecontainer">
<!-- navbar   -->
<nav class="navbar navbar-expand-lg fixed-top ">  
    <a class="navbar-brand" href="#">Logo</a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">  
    <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse " id="navbarSupportedContent">     <ul class="navbar-nav mr-4">
    <li class="nav-item">
        <a class="nav-link" data-value="about" routerLink="/login">Login</a> </li>   
    <li class="nav-item">  
          <a class="nav-link " data-value="about"  routerLink="/about">About Us</a></li>     
   <li class="nav-item">  
      <a class="nav-link " data-value="team"  routerLink="/team">Team</a></li>  
   <li class="nav-item"> 
    <a class="nav-link " data-value="contact"  routerLink="/contact">Contact</a>   </li> 
   </ul> 
   </div></nav>
<!-- Courses -->
<div class="portfolio">
    <h1 class="text-center">Courses</h1>
<div class="container">
 <div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
     
   <img src="assets/Images/php.png" class="img-fluid"> 
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/Images/php.png" class="img-fluid"> 
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/Images/php.png" class="img-fluid"> 
  </div>
     
<div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/Images/php.png" class="img-fluid"> 
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/Images/php.png" class="img-fluid"> 
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/Images/php.png" class="img-fluid"> 
  </div>
     
 </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://TestPrep.com/"> TestPrep.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</div>
</body>
</html>