<html>
    <head>
        <link rel="stylesheet" type="text/css" href="quiz.component.css">
    </head>
    <body>
        <div id="responsive-admin-menu">
            <div id="responsive-menu">
                <div class="menuicon">≡</div>
            </div>
            
            <div id="logo"></div>
        
            <!--Menu-->
            <div id="menu">
                    <a routerLink="/adminhome" title="Dashboard"><i class="icon-dashboard"></i><span> 
                    Dashboard</span></a>
                    <a routerLink="/quiz" title="Quiz"><i class="icon-bullhorn"></i><span> Quiz</span></a>
                    <a routerLink="/home" title="Quiz"><i class="icon-bullhorn"></i><span> Main website</span></a>
            </div>
            <!--Menu-->
        
        
        </div>
        
        <div id="content-wrapper" style="background-image:url('/assets/Images/bg.jpg');padding-left: 12em;padding-top: 3em;">
            <form>
                <h2>Add quiz</h2>
                <div class="row">
                  
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="last">Question</label>
                      <input type="text" class="form-control" placeholder="" id="last">
                    </div>
                  </div>
                  <!--  col-md-6   -->

                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="last">Answer 1</label>
                      <input type="text" class="form-control" placeholder="" id="last">
                    </div>
                  </div>
                  <!--  col-md-6   -->

                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="last">Answer 2</label>
                      <input type="text" class="form-control" placeholder="" id="last">
                    </div>
                  </div>
                  <!--  col-md-6   -->

                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="last">Answer 3</label>
                      <input type="text" class="form-control" placeholder="" id="last">
                    </div>
                  </div>
                  <!--  col-md-6   -->

                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="last">Answer 4</label>
                      <input type="text" class="form-control" placeholder="" id="last">
                    </div>
                  </div>
                  <!--  col-md-6   -->

                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="last">Correct Answer</label>
                      <input type="text" class="form-control" placeholder="" id="last">
                    </div>
                  </div>
                  <!--  col-md-6   -->
                </div>
            
            
               
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div><!-- Content wrapper ends here-->
        
        
        
    </body>
</html>