
<!DOCTYPE html>
<html>
<head>
	<title>About</title>

   
		<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="about.component.css">
</head>
<body>
    
<app-header></app-header>

  <!--About -->
<div class="about">
   <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-20x  ">
     <img src="assets/Images/logo.jpg" class="img-fluid" alt="logo">
    
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 desc">
      
     <h1>Test Prep</h1>
     <p class="para">
     
      Test Prep was Created in January 2012 by StarLab Developers. Before Test Prep, starLab Developers was  rapidly growing enterprise software service (SaaS) provider. 
      People noticed that agile development was not enough so they started thinking from what company can be taken to its height. 
      So they started targeting education for companys development and decided to create website that will help students during their exams
     So keeping in mind helping student 
      He founded Test Prep to help a students to solve there problem, which will provide students with test according to their cours
     </p>
    </div>
   </div>
</div>
   
<!-- Footer -->

<app-footer></app-footer>
   </body>
   </html>