
 body{
    background-image: url("/assets/Images/bg.jpg");
}
h2,.para{
    color: white;
}
h3{
    color: black;
}

#team
{
    background-color:  rgba(0, 0, 0, 0.507) !important; 
}


.team{
    margin: 4em 0;
    position: relative; 
   
   }
   .team h1{
    color:rgb(252, 252, 252);
    margin: 2em; 
   }
   .team .item{
    position: relative;
   }
   .team .des{
    background: #F97300;
    color: #fff;
    text-align: center;
    border-bottom-left-radius: 93%;
    transition:.3s ease-in-out;
    
   }

   .team .item:hover .des{
    height: 100%;
    background:#f973007d;
    position: absolute;
    width: 89%;
    padding: 5em;
    top: 0;
    border-bottom-left-radius: 0;
   }



#work
{
    background-color: rgba(0, 0, 0, 0.363) !important;
}