<!DOCTYPE html>
<html>

<head>
   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <!--Custom styles-->
    <link rel="stylesheet" type="text/css" href="footer.component.css">
    <script src="https://checkout.stripe.com/checkout.js"></script>
</head>

<body>
 
 <!-- Footer -->

 <footer>
    <section id="footer">
        <div class="container">
            <div class="row text-center text-xs-center text-sm-left text-md-left">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <h5>Quick links</h5>
                    <ul class="list-unstyled quick-links">
                        <li><a routerLink="/home"><i class="fa fa-angle-double-right"></i>{{email}} <i class="fa fa-fw fa-home"></i> </a></li>
                        <li><a routerLink="/team"><i class="fa fa-angle-double-right"></i>Teams <i class='fas fa-users'></i></a></li>

                        <li><a routerLink="/contact"><i class="fa fa-angle-double-right"></i>Contact Us <i class="fa fa-fw fa-envelope"></i></a></li>
                        <li><a routerLink="/about"><i class="fa fa-angle-double-right"></i>About Us <i class='far fa-address-card'></i></a></li>

                        <li><a routerLink="/login"><i class="fa fa-angle-double-right"></i>Logout <i class="fa fa-fw fa-user"></i></a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                            © 2020 Copyright:
                            <a href="https://TestPrep.com/">TestPrep.com</a>
                        </div>

                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                            <p class="h6">Connect with Us On.</p>
                            <p>
                                <a href="https://www.twitter.com">
                                    <img src="assets/Images/6.png" height="35px;" width="35px;" class="image">
                                </a>
                                <a href="https://www.Youtube.com">
                                    <img src="assets/Images/7.png" height="35px;" width="45px;" class="image">
                                </a>
                                <a href="https://www.Facebook.com">
                                    <img src="assets/Images/8.png" height="35px;" width="35px;" class="image">
                                </a>
                                <a href="https://www.instagram.com">
                                    <img src="assets/Images/9.png" height="35px;" width="35px;" class="image">
                                </a>

                            </p>

                        </div>

                    </div>
                </div>


            </div>
        </div>
    </section>
</footer>
</body>
</html>